<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form__subtitle">
        <h2>Enter the name of a city:</h2>
    </div>
    <div class="form__container">
        <div class="form__input">
            <mat-form-field class="form__input--mat-form">
                <mat-label>City</mat-label>
                <input required formControlName="nameCity" matInput placeholder="Ex. Acre">
                <mat-error *ngIf="validTouched('nameCity')">
                    Field cannot be empty!
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form__button">
            <button class="form__button--element" [disabled]="form.value.nameCity == null || validTouched('nameCity')  || (validTouched('nameCity') && form.value.nameCity == null)" mat-raised-button type="submit" color="primary">Search</button>
            <mat-error *ngIf="form.value.nameCity == null || validTouched('nameCity')  || (validTouched('nameCity') && form.value.nameCity == null)">
                Field cannot be empty, fill it in and the button will be enabled!
            </mat-error>
        </div>
    </div>
    <div class="form__card" *ngIf="showInfo">
        <div class="form__card--information-weather">
            <div class="form__card--title-information">
                <h3>Weather information:</h3>
            </div>
            <div class="form__card--informations">
                <p><b>City:</b> {{ resultWeatherCity?.name }}</p>
                <p><b>Temp:</b> {{ resultWeatherCity?.temp | number:'1.0-1' }} °C</p>
                <p><b>Description:</b> {{ resultWeatherCity?.description }}</p>
            </div>
            <div class="form__card--title-information">
                <h3>Pokemon information:</h3>
            </div>
            <div class="form__card--informations--pokemon">
                <p><b>Name:</b> {{ pokemon?.name }}</p>
                <p><b>Type:</b> {{ pokemon?.types }}</p>
            </div>
        </div>
        <div class="form__card--image">
            <img [src]="pokemon?.sprites" alt="image of pokemon">
        </div>
    </div>
</form>
<app-loading></app-loading>